@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


main { margin-top: 75px; }

.nav a { color: black; }
.nav li { margin-right: 15px; }

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .book-review-button {
    margin: 1rem;
} */

.card .btn { margin: 1rem; }

.book-review-image {
    margin: 1rem;
}